[Desktop Entry]
Name=Egalite IRC Client
Name[fr]=Messagerie IRC Égalité
GenericName=Internet Messenger
GenericName[fr]=Messagerie internet
Comment=Chat over IRC
Exec=/opt/e6irc/bin/e6irc
Icon=e6irc
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
X-Desktop-File-Install-Version=0.16
